<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Aniwatch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag '/assets/favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:void 0;">Aniwatch</a>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <div class="container text-center">
      <p class="text-muted">
        <%= Time.new.strftime('%Y') %>年<%= Time.new.strftime('%m').to_i / 3 + (Time.new.strftime('%m').to_i % 3 === 0 ? 0 : 1) %>Q
        <a href="https://github.com/supercaracal/aniwatch2">PocaPocaUnty</a>
      </p>
    </div>
  </div>
</body>
</html>
